.custom-scroll-container {
  width: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
  box-sizing: border-box;
}

.tree-view-container {
  display: inline-block;
  min-height: 100vh;
  min-width: 100%;
  width: auto;
  background-color: rgba(0, 71, 110, 0.9);
}

.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding-right: 10px;
}
