.star-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ededef;
}

h1 {
  font-size: 40px;
}

.starContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.starItem {
  cursor: pointer;
}

.active {
  color: #c7c000;
}

.inactive {
  color: rgba(0, 0, 0, 0.65);
}
